.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.navitem {
  list-style: none;
  display: flex;
}
.titel {
  padding: 10px;
  text-align: left;
}
.sousitems {
  display: none;
  list-style: none;
  position: absolute;
  border: 2px solid #2196EF;
  padding-left: 0px;
}
.navitem li:hover {
  color: #2196EF;
}
.navitem li:hover .sousitems {
  display: block;
}

.sousitems li {
  padding: 8px;
  color: black;
}
